@page "/Alerts"

<SharedTitle Title="Alerts using native options blazor" SubTitle="Without js"/>

<AlertRenderFragment Show="@ShowAlert" Click=ToggleAlert>
    <span class="oi oi-check mr-2" aria-hidden="true">

    <strong>Native alert blazor!</strong>
    </span>
    <br />

</AlertRenderFragment>


@code {
    public bool ShowAlert { get; set; } = false;
    public void ToggleAlert() {
        ShowAlert = !ShowAlert;
    }
}