@if (Show)
{
    <div @ref=t class ="alert alert-secondary mt-4" style="background-color:@color;" role="alert">
 @ChildContent
 </div>

}
<button class="btn-info" @onclick=Click>Toggle </button>
<input type="text" @bind-value=color />

@code {
    Object t;

    [Parameter]
    public bool Show { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public EventCallback Click { get; set; }
    public string color;

  

}