


<div style="background-color:red">


<h3>SonComponent</h3>
    Default behavior sons cant change fathers value. If you want to do it check two way binding page<br />
    Number Value is:  @ValueParameter
    <input type="range" @bind=ValueParameter></input>

</div>


@code {
    [Parameter]
    public int ValueParameter { get; set; }
}
