@page "/TwoWayBinding"

<SharedTitle Title="Two Way Bindign" Description="Changing father value from son" />
<div style="background-color:green">

<p>Fathers value: @currentCount</p>

<input type="range" @bind=currentCount @bind:event=oninput  />



<SonComponentTwoWay @bind-CurrentCounterValue=currentCount />
</div>


<SharedDescription Title="Two way binding" Description="This page shows how to change value from sons component to father components, the magic trick here is binding the parameter with a event , so each time parameter value changes the event should be invoked" />

@code {
	int currentCount = 0;

	void IncrementCount()
	{
		currentCount++;
	}
}