@page "/"

<PageTitle>Index</PageTitle>

<h1 style="color:white">Learning Examples</h1>
<p style="color:white">

If you like the idea you can contribute to help other people , or share my job with other people.
The idea is adding more content .
</p>

<SharedTitle
Title="Home"
Description="This app is a compilation of things ive benn using in blazor.
Actually messy stuff not so pretty(not the purpose of this), but i really think this can be very usefull. The main idea is using ONLY native blazor options without component libraries."
SubTitle="When I started learning Blazor i was so confused because new framework new tecnology etc.
So I try to help other peoople like my with some examples of all options blazor brings." />


<SharedDescription Title="Usefull resources i based on:" SubTitle="This page is only for learning purposes" >

    <body>


<ul>

            <li> <a href=" @(@"https://www.youtube.com/@IAmTimCorey")  "> Tim Corey channel</a</li>
            <li> <a href=" https://learn.microsoft.com/en-us/aspnet/core/blazor/?view=aspnetcore-7.0  "> Blazor oficial docs </a>       </li>
            <li> <a href=" https://blazor.syncfusion.com/documentation/introduction">   Sync Fusion docs  </a>                      </li>
            <li> <a href="https://blazor-university.com/ ">     Blazor University  </a>                                       </li>
</ul>
    </body>
</SharedDescription>