@page "/JavascriptInteropPage"
@page "/JavascriptInterop"
@inject IJSRuntime jsruntime;

<h1>Some cool graphics!</h1>
@saludo
<br />

<div style="display:@numEstudiantes" id="chart_div" class="chartdiv"></div>
<button @onclick=@(()=>numEstudiantes = hideShowExample(numEstudiantes))>Hide/Show</button>

<h4>Regiones de las que proceden los investigadores</h4>
<div style="display:@regions" id="regions_div" class="chartdiv"></div>
<button @onclick=@(()=>regions = hideShowExample(regions))>Hide/Show</button>

<h4>Combo</h4>
<div style="display:@regions" id="googleCombo" class="chartdiv"></div>
<button @onclick=@(()=>regions=hideShowExample(regions))>Hide/Show</button>



@code {
    public string numEstudiantes = "block";
    public string regions = "block";
    public string combo = "block";
    public string saludo = "";

    public string hideShowExample(string s) => s == "block" ? "none" : "block";

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        await jsruntime.InvokeVoidAsync("googleCharts");
        await jsruntime.InvokeVoidAsync("GoogleRegions");
        await jsruntime.InvokeVoidAsync("GoogleComboChart");
        object[] p;
        saludo = await jsruntime.InvokeAsync<String>("SayHelloFromJS",saludo );
    }
}
