@page "/JavascriptInteropPage"
@page "/JavascriptInterop"
@inject IJSRuntime jsruntime;


<SharedTitle Title="JS Interop"
             SubTitle="What about some random cool graphics with js interop?"
             Description=" The cool fact is you can call c# from js , or js from c#.    Really amazing! " />



<button @onclick=@(()=>Hide=!Hide)> Hide / Show Graphics</button>
<div hidden=@Hide style="margin-bottom:25px;">


    <div id="chart_div" class="chartdiv"></div>

    <div id="regions_div" class="chartdiv"></div>

    <div id="googleCombo" class="chartdiv"></div>
</div>



<button @onclick=TryJSInterop> Show How to call js function from blazor
</button>


<h1>@saludo</h1>


<SharedDescription Title="JS Interop" SubTitle="Using example" Description="To Use js interop you shoud inject jsinterop, then declare your scripts in wwwroot/js . Finally if you need libraries you need to add the scripts in /Pages/_Layout.cshtml " />

@code {

    public string saludo = " c# var showed  by js!";

    public bool Hide = true;



    protected override async Task OnAfterRenderAsync(bool firstRender) {
        await jsruntime.InvokeVoidAsync("googleCharts");
        await jsruntime.InvokeVoidAsync("GoogleRegions");
        await jsruntime.InvokeVoidAsync("GoogleComboChart");
    }

    public async Task TryJSInterop() {
     saludo = await jsruntime.InvokeAsync<String>("SayHelloFromJS",saludo );
    }
}
