@typeparam TItem
<table class="table">
    <thead>
    </thead>
    <tbody>
        <tr>@TableHeader</tr>
        @foreach(var item in Items)
        {
            <tr>@RowTemplate(item)</tr>
        }
    </tbody>
    <tfoot>
        <tr>@TableFooter</tr> 
      </tfoot>

</table>

@code{
    [Parameter]
    public IEnumerable<TItem> Items{ get; set; }
    [Parameter]
    public RenderFragment<TItem> RowTemplate{ get; set; }
    [Parameter]
    public RenderFragment TableHeader{ get; set; }    
    [Parameter]
    public RenderFragment TableFooter{ get; set; }
}