@page "/SeparateCsFromRazor"
@inherits SeparateCsFromRazorsBase
<PageTitle>Self Questions</PageTitle>

<SharedTitle Title="Self Questions" SubTitle="Welcome to your new questioner."/>


@if(!ended){
    <h1>Ready for some questions?</h1>

    <button class="btn-success" @onclick="()=>GoodQuestion()">Good Answered !</button>
    <button class="btn-danger" @onclick="()=>BadQuestion()">Bad !</button>
    <br />
    <textarea  class="form-control" style="min-width: 100%">@this.currentCuestion</textarea>

}else{
    <p>You get @GoodAnswes  points!</p>

    <h4>Failed:</h4>
    @foreach(var question in this.failed){
        <p>@question</p> <br />
    }
}




<SharedDescription Title="Separate c# in file" Description="Once i did it form my sister think quite usefull. This page is used to show how you can embed code in other .cs file insted using coding section in .razor file.
The .cs file has to inherit from componentBase to get lyfecycle methods from blazor. The .razor file has to declare inherit to that file.

" />


